.landing-page {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    width: 1010px;
    margin: 0 auto;
    overflow: hidden;
    }
    .landing-page .btn{
        display: inline-block;
        text-decoration: none;
        background: #ff9900;
        color: #fff;
        border-bottom: 4px solid #ff7a00;
        height: 32px;
        line-height: 34px;
        width: 130px;
        text-align: center;
        font-size: 15px;
        border-radius: 6px;
        position: relative;
        transition-duration: .3s;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        outline: none;
    }
    .landing-page .btn:hover {
        background: #ff7a00;
    }
    .landing-page h1.getting-started {
        display: none;
        font-size: 36px;
        font-weight: normal;
        text-align: center;
        color: #333333;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .landing-page h3 {
        font-size: 32px;
        font-weight: normal;
        text-align: center;
        color: #388bcb;
        margin-top: 30px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .landing-page h4 {
        font-size: 22px;
        font-weight: normal;
        text-align: center;
        color: #666666;
        margin: 0;
        padding: 0;
    }
    .landing-page .sign-up {
        height: 120px;
        background: #d9ebf8;
        margin-top: 50px;
        text-align: center;
        position: relative;
        }
        .landing-page .sign-up .arrow{
            background: url(@@cdn/i/sign-up-arrow.png) no-repeat;
            height: 25px;
            width: 90px;
            position: absolute;
            bottom: -25px;
            left: 50%;
            margin-left:  -45px;
        }
        .landing-page .sign-up .shadow{
            background: url(@@cdn/i/lp-shadow.png) no-repeat;
            height: 22px;
            width: 165px;
            position: absolute;
            bottom: 25px;
            left: 50%;
            margin-left:  -82px;
        }
        .landing-page .sign-up .btn{
            margin-top: 27px;
            font-size: 22px;
            height: 40px;
            line-height: 40px;
            }

    .landing-page .track-boxes {
        width: 100%;
        margin-top: 40px;
        padding: 0 15px;
    }
        .landing-page .track-boxes .box{
            width: 320px;
            margin-right: 10px;
            float: left;
            margin-bottom: 40px;
        }
            .landing-page .track-boxes .box .text {
                margin: 15px 0 5px;
                text-align: center;
            }
                .landing-page .track-boxes .box a{
                    font-size: 17px;
                }
                    .landing-page .track-boxes .box a:hover{
                        text-decoration: none;
                    }
.challenges {
    height: 385px;
    position: relative;
    text-align: center;
    background: #d9ebf8 url(@@cdn/i/challenges-bg.png) repeat-x;
}
    .challenges .arrow {
        background: url(@@cdn/i/challenges-arrow.png) no-repeat;
        height: 25px;
        width: 85px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left:  -42px;
        }
    .challenges h1 {
        font-size: 32px;
        color: #1782bd;
        font-weight: normal;
        padding-top: 30px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .challenges h2 {
        font-size: 22px;
        color: #333333;
        font-weight: normal;
        padding-top: 0;
        margin-top: 0;
    }
    .challenges .box {
        width: 33%;
        float: left;
        padding-top: 20px;
        text-align: center;
    }

.challenges .box p {
	margin: 16px 0;
}
	.challenges .box p a {
		text-decoration: none;
		color: #3f4242;
		font-size: 26px;
	}

.compete-win {
    height: 332px;
    position: relative;
    text-align: center;
    margin-bottom: 120px;
    background: #d9ebf8 url(@@cdn/i/compete-bg.png) center no-repeat;
}
    .compete-win h1 {
        font-size: 32px;
        color: #1782bd;
        font-weight: normal;
        padding-top: 30px;
        padding-bottom: 0;
        margin: 0;
    }
    .compete-win h2 {
        font-size: 22px;
        color: #333333;
        font-weight: normal;
        padding: 0 10px;
        margin-top: 0;
    }
    .compete-win img {
        position: absolute;
        left: 50%;
        margin-left: -250px;
        bottom: -75px;
        width: 500px;
    }
.bottom-nav {
    width: 100%;
    margin-bottom: 65px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #d6d6d6;
    border-top: 1px solid #d6d6d6;
}
    .bottom-nav .box {
        width: 25%;
        float: left;
        text-align: center;
    }
    .bottom-nav .box .space{
        width: 100%;
        height: 15px;
    }
    .bottom-nav .box h5{
        font-weight: normal;
        font-size: 20px;
        color: #0870b7;
        margin-top: 0;
        margin-bottom: 20px;
        padding: 0;
    }
    .bottom-nav .box p{
        font-weight: normal;
        font-size: 16px;
        color: #7d7f80;
        margin-top: 0;
        margin-bottom: 20px;
        padding: 0;
    }

	.bottom-nav .box .follow-us{
		margin: 5px 0 16px;
	}
    .bottom-nav .box a.social{
       margin-left: 8px;
        }
        .bottom-nav .box a.social:hover{
            opacity: .8;
        }

    .bottom-nav .box p{
        padding-top: 20px;
    }
        .bottom-nav .box p.low{
            padding-top: 0;
        }

.landing-page .thank-you {
    background: #f2f2f2;
    position: relative;
    padding: 30px 20px 40px 20px;
    margin-top: 50px;
    text-align: center;
}
.landing-page .thank-you h2 {
    color: #333333;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.landing-page .thank-you h3 {
    color: #666666;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
/*additional challenge-detail link styles for inserted content on registration complete page*/
.landing-page .thank-you h4 {
  padding-bottom: 0;
  padding-top: 30px;
  line-height: 35px;
}
.landing-page .thank-you img {
    position: absolute;
    left: 162px;
}

br.display {
    display: none;
}


@media (max-width: 1024px) {
    .landing-page {
        width: 100%;
        margin: 0;
    }
        .landing-page h1.getting-started {
            display: block;
        }
        .landing-page .track-boxes .box{
            float: none;
            text-align: center;
            margin: 0 auto 40px auto;
        }
        .landing-page .track-boxes .box img{
            width: 300px;
        }
    .landing-page .track-boxes {
        padding: 0;
    }
    .challenges {
        height: 856px;
    }
        .challenges h2 {
            padding-left: 20px;
            padding-right: 20px;
        }
        .challenges .box {
            width: 100%;
            float: none;
            padding-top: 30px;
        }
    .compete-win {
        margin-bottom: 90px;
    }
    .compete-win img {
        width: 315px;
        position: absolute;
        left: 50%;
        margin-left: -150px;
        bottom: -50px;

    }
    .bottom-nav {
        border-bottom: 0;
        padding-bottom: 10px;
        margin-bottom: 5px;
        padding-top: 0;
    }
    .bottom-nav .box {
        width: 66%;
        margin: 10px 17%;
        float: none;
        border-bottom: 1px solid #d6d6d6;
        text-align: center;
        padding: 10px 0;
    }
    .bottom-nav .box.last {
        border-bottom: none;
    }
    .landing-page .thank-you img {
        position: static;
    }
    br.display {
        display: block;
    }
}

@media (max-width: 321px) {
    .challenges h1 {
        font-size: 30px;
    }
    .landing-page .thank-you h2 {
        color: #333;
        font-size: 30px;
    }
    .challenges h2 {
        font-size: 18px;
    }
}

/* Front page */
.front-new .splitLayout {
  margin: 20px -60px;
  padding: 60px;
  background: #fff
}
.front-new .splitLayout .grid-3-1.p-spacing .community-box {
  padding: 50px;
  border: 1px solid #DEDDDD;
  height: 85px;
  margin-bottom: 0;
}
.front-new .splitLayout .grid-3-1.p-spacing.design .community-box {
  border-bottom: 5px solid #21B2F1;
}
.front-new .splitLayout .grid-3-1.p-spacing.develop .community-box {
  border-bottom: 5px solid #05C14F;
}
.front-new .splitLayout .grid-3-1.p-spacing.data .community-box {
  border-bottom: 5px solid #FC9A00;
}
.front-new .splitLayout .grid-3-1.p-spacing h3.text-center {
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
}
.front-new .member-quote {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  background: #f6f6f6;
  height: 228px;
}
.front-new .member-image-container {
  margin-bottom: 15px;
}
.front-new .member-image-container .member-image {
  width: 48px;
  height: 48px;
}
.front-new .member-quote .member-text p {
  margin: 0;
  padding: 0;
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #979797;
  text-align: center;
}
.front-new .text-heading {
  color: #4A4A4A;
}
.front-new .member-quote .member-text {
  padding: 5px;
}
.front-new .member-quote .member-text .text-member-link {
  padding-top: 20px;
}
.front-new .member-quote .member-text .text-member-link .text-link {
  font-size: 15px;
  line-height: 18px;
  color: #000;
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
.front-new .bottom-header {
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 22px;
  line-height: 22px;
  color: #4A4A4A;
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
.front-new .testimonials h2 {
  font-size: 36px;
  line-height: 40.5px;
  color: #4a4a4a;
  font-weight: 600;
  text-transform: none;
}
.front-new .testimonials .testimony-text, .front-new .testimonials .testimony-by {
  font-size: 18px;
  line-height: 20.3px;
  color: #626262;
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
}
.front-new .testimonials .testimony-text {
  padding: 10px 140px;
}
.front-new .testimonials .testimony-by {
  font-weight: 600;
}
.front-new h2 {
  font-size: 38px;
  line-height: 38px;
  color: #4a4a4a;
  text-transform: none;
  font-weight: 600;
}
.front-new .featured {
  background: url(@@cdn/i/section-image.jpg) center center no-repeat;
  background-size: cover;
  height: 400px;
}
.front-new .featured h2 {
  margin-top: 0;
  margin-bottom: 60px;
  font-weight: 600;
}
.front-new .featured .prizePurse {
  font-family: "Sofia Pro", Helvetica, Arial, sans-serif;
  font-size: 62px;
  line-height: 50px;
  color: #05C14F;
  font-weight: 600;
}
.front-new .featured .prizePurse .dollar {
  font-size: 33px;
  line-height: 40px;
  vertical-align: top;
}
.front-new .featured .prizePurseSummary {
  font-size: 18px;
  line-height: 40px;
  color: #9B9B9B;
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
}
.front-new .featured p.text-center {
  padding-top: 90px;
}
.front-new .btn-link {
  font-size: 18px;
  line-height: 20px;
  font-family: "Sofia Pro", Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.front-new .first-title {
  font-size: 54px;
  line-height: 54px;
  color: #7D939E;
  font-family: "Sofia Pro", Helvetica, Arial, sans-serif;
  font-weight: 200;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0;
}
.front-new .totalPurse {
  color: #21B2F1;
  font-size: 42px;
  line-height: 52px;
  font-family: "Sofia Pro", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 0;
}
.front-new .totalPurseSummary {
  font-size: 17px;
  line-height: 22px;
  color: #5F5F5F;
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  margin-top: 0;
  padding-bottom: 35px;
  font-weight: 600;
}
.front-new .top-promo {
  background: url(@@cdn/i/header-image.jpg) no-repeat center center scroll;
  background-size: cover;
  width: 100%;
  height: 450px;
  margin: 0;
  padding: 0;
}
.front-new .logo-container {
  padding: 20px;
}
.front-new .tc-logo {
  width: 250px;
}
.front-new .login {
  float: right;
  font-size: 16px;
  line-height: 16px;
  color: #0096FF;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  padding-top: 15px;
  text-decoration: underline;
}
/* To hide header on front page */
.header-wrapper {
  display: none;
}
.header-wrapper.menu-visible {
  display: block;
}
